/* ===============================
   ERROR 403
================================= */



/* layout */
.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* box */
.error-box {
    text-align: center;
}

/* icon */
.error-icon {
    font-size: 56px;
}

/* code */
.error-code {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: var(--re);
}

/* message */
.error-message {
    color: var(--t2);
    margin: 12px 0;
}

/* link */
.error-link {
    color: var(--gr);
    text-decoration: none;
    font-weight: 600;
}


/* ===============================
   ERROR 404
================================= */

/* couleur spécifique 404 */
.error-404 {
    color: var(--or);
}